{% extends 'base.html' %}
{% block title %}
พนักงาน
{% endblock %}
{% block content %}
<div class="row my-3">
   <div class="col-8">
      <h2 class="myForm-text">Avilable items on the Market</h2>
      <p class="myForm-text">Click on one of the items to start buying</p>
      <br>
      <table class="table table-hover table-dark">
         <thead>
            <tr>
               <!-- Your Columns HERE -->
               <th scope="col">ID</th>
               <th scope="col">Name</th>
               <th scope="col">Barcode</th>
               <th scope="col">Price</th>
               <th scope="col">Options</th>
            </tr>
         </thead>
         <tbody>
            <!-- Your rows inside the table HERE: -->
            {% for item in items %}
            {% include 'includes/items_madals.html' %}
            <tr>
               <td>{{ item.id }}</td>
               <td>{{ item.name }}</td>
               <td>{{ item.barcode }}</td>
               <td>{{ item.price }}$</td>
               <td>
                  <button class="btn btn-outline btn-info" data-bs-toggle="modal" data-bs-target="#Modal-MoreInfo-{{ item.id }}">More Info</button>
                  <button class="btn btn-outline btn-success" data-bs-toggle="modal" data-bs-target="#Modal-PurchaseConfirm-{{ item.id }}">Purchase this Item</button>
               </td>
            </tr>
            {% endfor %}
         </tbody>
      </table>
   </div>
   <div class="col-4">
      <h2 class="myForm-text">Owned Items</h2>
      <p class="myForm-text">Click on sell items to put an item back to the market</p>
      <div class="row">
         {% for owned_item in owned_items %}
         {% include 'includes/owned_items_modals.html' %}
            <div class="col-md-6">
               <div style="margin-bottom: 5px" class="card text-center bg-dark">
                  <div class="card-body">
                     <h5 class="card-title" style="color:white;">{{ owned_item.name }}</h5>
                     <button type="button" class="btn btn-outline-danger" style="margin-bottom: 5px" data-bs-toggle="modal" data-bs-target="#Modal-SellingConfirm-{{ owned_item.id }}">
                        Sell this Item
                     </button>
                     <p class="card-text" style="color:white;">
                        <strong>
                           This item costs {{ owned_item.price }}฿
                        </strong>
                     </p>
                  </div>
               </div>
            </div>
         {% endfor %}
      </div>
   </div>
</div>
{% endblock %}